body {
  color: #404040;
  background: #37474F;
  font-family: "Oswald";
  
}

.button1 
 {
  
 font-family : "Oswald"; font-size: 35px;
  float: left;
  color: white;
  width: 100%;
  background-color:#334249;
  height: 20%;
  cursor: pointer;
  text-align: center;
 border-color: #3C4E56;

 }


#hmenu, #coureur1-list-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#hmenu, #coureur2-list-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#hmenu, #coureur3-list-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#hmenu, #coureur4-list-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#hmenu, #coureur5-list-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#hmenu, #coureur6-list-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#hmenu > li {
  display: inline;
  position: center;
  margin: 0;
  padding: 0;
}

#hmenu > li > a {
  font-size: 2.5em;
  display: inline-block;
  line-height: 90px;
  margin: 0;
  padding: 0 1%;
  text-decoration: none;
  color: #FFF;
}

#hmenu > li > a:hover,
#hmenu > li > a:focus,
#hmenu > li.current-menu-item > a,
#hmenu > li.current-menu-ancestor > a {
  transition: all 0.7s ease-out;
  color: #fff;
  background: #273338;
  text-shadow: -1px 1px 1px #000;
}

/* coureur3 menu */
#coureur1-list-menu {
    display: none;
    position: center;
    margin-left: 54.3%;
    width: 200px;
    background: #273338;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px #000;
}

#coureur2-list-menu {
    display: none;
    position: center;
    margin-left: 45.5%;
    width: 200px;
    background: #273338;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px #000;
}

#coureur3-list-menu {
    display: none;
    position: center;
    margin-left: 45.5%;
    width: 200px;
    background: #273338;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px #000;
}

#coureur4-list-menu {
    display: none;
    position: center;
    margin-left: 45.5%;
    width: 200px;
    background: #273338;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px #000;
}

#coureur5-list-menu {
    display: none;
    position: center;
    margin-left: 45.5%;
    width: 200px;
    background: #273338;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px #000;
}

#coureur6-list-menu {
    display: none;
    position: center;
    margin-left: 45.5%;
    width: 200px;
    background: #273338;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px #000;
}






#hmenu li:hover > ul#coureur1-list-menu,
#hmenu li:focus > ul#coureur1-list-menu{
    display: block;
}

#hmenu li:hover > ul#coureur2-list-menu,
#hmenu li:focus > ul#coureur2-list-menu{
    display: block;
}

#hmenu li:hover > ul#coureur3-list-menu,
#hmenu li:focus > ul#coureur3-list-menu{
    display: block;
}

#hmenu li:hover > ul#coureur4-list-menu,
#hmenu li:focus > ul#coureur4-list-menu{
    display: block;
}

#hmenu li:hover > ul#coureur5-list-menu,
#hmenu li:focus > ul#coureur5-list-menu{
    display: block;
}

#hmenu li:hover > ul#coureur6-list-menu,
#hmenu li:focus > ul#coureur6-list-menu{
    display: block;
}





#coureur1-list-menu a {
  font-size: 2em;
  display: inline-block;
  width: 100%;
  position: center;
  text-decoration: none;
  color: #FFF;

}

#coureur2-list-menu a {
  font-size: 2em;
  display: inline-block;
  width: 100%;
  position: 100px;
  text-decoration: none;
  color: #FFF;

}

#coureur3-list-menu a {
  font-size: 2em;
  display: inline-block;
  width: 100%;
  position: center;
  text-decoration: none;
  color: #FFF;

}

#coureur4-list-menu a {
  font-size: 2em;
  display: inline-block;
  width: 100%;
  position: center;
  text-decoration: none;
  color: #FFF;

}

#coureur5-list-menu a {
  font-size: 2em;
  display: inline-block;
  width: 100%;
  position: center;
  text-decoration: none;
  color: #FFF;

}

#coureur6-list-menu a {
  font-size: 2em;
  display: inline-block;
  width: 100%;
  position: center;
  text-decoration: none;
  color: #FFF;

}



#coureur1-list-menu a:hover,
#coureur1-list-menu a:focus {
  transition: all 0.7s ease-out;
  color: white;
  background: #63808E;
  text-shadow: -1px 1px 1px #000;
  margin-right: 100px;
}

#coureur2-list-menu a:hover,
#coureur2-list-menu a:focus {
  transition: all 0.7s ease-out;
  color: white;
  background: #63808E;
  text-shadow: -1px 1px 1px #000;
  margin-right: 50px;
}

#coureur3-list-menu a:hover,
#coureur3-list-menu a:focus {
  transition: all 0.7s ease-out;
  color: white;
  background: #63808E;
  text-shadow: -1px 1px 1px #000;
  margin-right: 40px;
}

#coureur4-list-menu a:hover,
#coureur4-list-menu a:focus {
  transition: all 0.7s ease-out;
  color: white;
  background: #63808E;
  text-shadow: -1px 1px 1px #000;
  margin-right: 40px;
}

#coureur5-list-menu a:hover,
#coureur5-list-menu a:focus {
  transition: all 0.7s ease-out;
  color: white;
  background: #63808E;
  text-shadow: -1px 1px 1px #000;
  margin-right: 40px;
}

#coureur6-list-menu a:hover,
#coureur6-list-menu a:focus {
  transition: all 0.7s ease-out;
  color: white;
  background: #63808E;
  text-shadow: -1px 1px 1px #000;
  margin-right: 40px;
}


